@model BankaWebEL.DTOs.AccountDTO

<h2>Hesap Sil</h2>

<div>
    <h3>@Model.IBAN</h3>
    <p>Bu hesabı silmek istediğinize emin misiniz?</p>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Evet, Sil</button>
        <a href="/Accounts/Index" class="btn btn-secondary">İptal</a>
    </form>
</div>
